:root{
/* Fonts*/
--fontparagraphs: 'Open Sans', sans-serif;
--font2: 'Poppins', sans-serif;

/* Colors */

--white: #fafafa;
--black: #000000;
--gray: #f5f5f5;

}



body{
    font-family: var(--font2);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: var(--gray);
}

button, a, img, li{
    caret-color: transparent;
    user-select: none;
}

button{
    cursor: pointer;
}

.container{
    max-width: 100%;  
    text-align: center;  
}

.questions-container{
    display: block;
}

.question{
    background-color: white;
    padding: .5rem;
    max-width: 100%;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 20px 0 var(--black);
}

.question:last-of-type{
    margin-bottom: 0;
}

.question-tittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.question-btn{
    height: 1.5rem;
    border: none;
    background-color: white;
    font-size: 1.3rem;
}

.plus-icon{
    max-height: 200px;
    opacity: 1;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.minus-icon{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: none;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.question-text{
    font-size: small;
    width: 20rem;
    max-width: 100%;
    border-top: solid 2px var(--black);
    word-wrap: break-word;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.show-text-icon{
    max-height: 100px;
    opacity: 1;
    display: block;
}

.hide-icon{
    max-height: 0;
    opacity: 0;
    display: none;
}




